h1,
h2,
h3,
p {
  margin: 0px;
}
body{
    background: url(../img/fondo.jpg);
    font-family: mexi2;
}
header{
    display:flex;
    text-align: center;
    font: 2em mexi;
    padding: 20px;
    justify-content: center;
    align-items:center;
    margin:10px;
}
header img{
    height: 150px;
}
header h1{
    margin: 20px;
}
h1 table tr:first-child td:first-child{
    font-size: 100px;
    color:red;
}
h1 table td:nth-child(2){
    text-align: left;
    padding-left: 5px;
    color: white;
}
h1 table tr:nth-child(2) td{
    text-align: left;
    padding-left: 5px;
    color:green;
}

nav{
    background-color:rgb(0, 128, 107);
    border: 5px double white;
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration:none;
    color: white;
}
nav div:hover{
    background-color:rgb(1, 87, 72);
    border-radius: 20px;
}

nav div{
    padding: 4px;
}

.contenedor{
    display:flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: column;
}
section div{
    cursor:pointer;
}
.contenedor section{
    width: 70%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display:flex;
    flex-wrap: wrap;
    margin:10px auto;
    padding: 10px;
}
.contenedor h3{
    font-size:1.5em;
    margin: 30px 375px;
    color: white;
}
.contenedor h2{
    font-size:1.5em;
    margin: 30px auto;
    color: white;
    padding: 5px;
    border-bottom:2px solid rgb(0, 128, 107);
    border-top:2px solid rgb(0, 128, 107);
}
.cuponesR{
    background-color:rgb(230, 102, 102);
    border: 2px solid rgb(221, 76, 76);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display:flex;
    align-items: center;
}
.contenedor img{
    border-radius: 10px;
    padding: 3px;
    width: 100px;
}
.contenedor p{
    color: white;
    font-size:1.2em;
    margin: 5px;
    border-radius: 2px;
    margin: 10px auto;
}
.cuponesV{
    background-color:rgb(54, 105, 19);
    border: 2px solid rgb(59, 122, 17);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display:flex;
    align-items: center;
}

footer {
    align-items: center;
    background-color:rgb(0, 128, 107);
    border: 5px double white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
    font-size: 1.2em;
}
.social img{
    width:50px;
    height: 50px;;
}

@font-face{
    font-family: 'mexi';
    src: url('fuentes/mexi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'mexi2';
    src: url('fuentes/mexi2.otf');
    font-weight: normal;
    font-style: normal;
}